 body {
      margin: 0;
}
.navbar-custom {
      background-color:	#ceab8c;
}
    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-brand {
      color: #1e2749;
      font-weight: 600;
      letter-spacing: 1px;
    }
    .navbar-nav .nav-link {
      margin-right: 20px;
    }
    .nav-highlight {
      background-color: #1e2849;
      padding: 10px 20px;
      border-radius: 0;
    }
    .nav-highlight .nav-link {
      color: white !important;
      font-weight: bold;
    }
    .dropdown-toggle::after {
      margin-left: 5px;
    }
  .menu-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px; /* Tùy chọn: cho đẹp hơn */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Tùy chọn: đổ bóng */
  }
  .star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2rem;
  justify-content: center;
  gap: 0.1rem;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ddd;
  cursor: pointer;
  transition: color 0.2s;
}

.star-rating input:checked ~ label {
  color: #f5b301;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #f5b301;
}
.nav-link{
  position: relative;
  color: white !important;
  padding-bottom: 5px;
  text-decoration: none;
}
.nav-link::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease, left 0.3s ease ;
  transform: translateX(-50%);
}
.nav-link:hover::after{
  width: 100%;
}
.nav-link.dropdown-toggle::after{
  color: white;
}
.shine-hover{
  position: relative;
  overflow: hidden;
  color: white !important;
  z-index: 0;
}
.shine-hover::before{
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
  transition: left 0.6s ease;
  z-index: -1;
  pointer-events: none;
}
.shine-hover:hover::before{
  left: 125%;
}
/* .watchmenuBtn-custom{
  background: black;  
  border-radius: 19px; 
  width: 17%; 
  color: #634832;
} */
