
    .navbar-custom {
      background-color:	#ceab8c !important;
    }
    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-brand {
      color: white !important;
      font-weight: 600;
      letter-spacing: 1px;
    }
    .navbar-nav .nav-link {
      margin-right: 20px;
    }
    .nav-highlight {
      background-color: #1e2849;
      padding: 10px 20px;
      border-radius: 0;
    }
    .nav-highlight .nav-link {
      color: white !important;
      font-weight: bold;
    }
    .dropdown-toggle::after {
      margin-left: 5px;
    }
body {
      margin: 0;
      justify-content: center;
    }
.nav-link{
  position: relative;
  color: #1e2849 !important;
  padding-bottom: 5px;
  text-decoration: none;
}
.nav-link::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease, left 0.3s ease ;
  transform: translateX(-50%);
}
.nav-link:hover::after{
  width: 100%;
}
.navDrinkMenu-link{
  position: relative;
  color:  #1e2849!important;
  padding-bottom: 5px;
  text-decoration: none;
}
.navDrinkMenu-link::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #1e2849;
  transition: width 0.3s ease, left 0.3s ease ;
  transform: translateX(-50%);
}
.navDrinkMenu-link:hover::after{
  width: 100%;
}
.shine-hover{
  position: relative;
  overflow: hidden;
  color: white !important;
  z-index: 0;
}
.shine-hover::before{
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
  transition: left 0.6s ease;
  z-index: -1;
  pointer-events: none;
}
.shine-hover:hover::before{
  left: 125%;
}
.grid-menu {
      display: grid;
      grid-template-columns: repeat(3,minmax(200px,1fr));
      gap: 20px;
      max-width: 1100px;
      width: 60%;
      margin: 0 auto;
}

.menu-item {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      border-radius: 16px;
      overflow: hidden;
      aspect-ratio: 1 / 1;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
}
@media screen and (max-width: 768px) {
      .grid-menu {
        grid-template-columns: repeat(2, minmax(25px, 1fr));
      }
}
.order-btn{
      background-color: #1e2849;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
}
